################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ansible3
/Ansible.Core/obj
/Ansible.Core/bin/Debug/netcoreapp2.0
